In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("./Data/soccer.csv")
#df.head()
df.head()

,Column1,Home Team,Away Team,Score,Half Time Score,Match Excitement,Home Team Rating,Away Team Rating,Home Team Possession %,Away Team Possession %,...,Away Team Fouls,Away Team Yellow Cards,Away Team Second Yellow Cards,Away Team Red Cards,Home Team Goals Scored,Away Team Goals Scored,Home Team Goals Conceeded,Away Team Goals Conceeded,year,league
0,0,MAN UTD,SWANSEA,1-2,0-1,5.9,5.6,7.6,60,40,...,20,4,0,0,1,2,2,1,2014,english
1,1,WEST BROM,SUNDERLAND,2-2,1-1,7.3,6.5,7.4,58,42,...,9,1,0,0,2,2,2,2,2014,english
2,2,LEICESTER CITY,EVERTON,2-2,1-2,7.0,6.5,6.3,37,63,...,10,1,0,0,2,2,2,2,2014,english
3,3,WEST HAM,TOTTENHAM,0-1,0-0,4.8,5.9,6.4,47,53,...,10,0,0,1,0,1,1,0,2014,english
4,4,QPR,HULL CITY,0-1,0-0,3.8,5.7,6.6,51,49,...,10,2,0,0,0,1,1,0,2014,english

In [11]:
df = df[['Home Team', 'Away Team', 'Home Team Goals Scored', 'Away Team Goals Scored', 'year', 'league']]

df.head()

,Home Team,Away Team,Home Team Goals Scored,Away Team Goals Scored,year,league
0,MAN UTD,SWANSEA,1,2,2014,english
1,WEST BROM,SUNDERLAND,2,2,2014,english
2,LEICESTER CITY,EVERTON,2,2,2014,english
3,WEST HAM,TOTTENHAM,0,1,2014,english
4,QPR,HULL CITY,0,1,2014,english